#banner {
    text-align: center;
    background-color: #159e69;
    border-radius: 40px;
    border: 2px solid white;
}

#heading {
    padding: 10px;
    color: white;
}

#winner-button {
    margin: 10px;
}